.modalBackground{
    background-color: rgba(0, 0, 0, 0.2);
    width: 1440px;
    height: 931px;
    /* height: 775px; */
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.card{
    float: right;
    top: 0px;
    left: 514px;
    width: 926px;
    height: 90px;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.h{
    display: flex;
}
.h p{
    margin-left: 20px;
    top: 21px;
    left: 532px;
    width: 102px;
    height: 30px;
    text-align: left;
    font: normal normal 600 22px/20px Open ;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#close{
    border: none;
    font-size: 30px;
    background-color: #5861AE;
    color: #FFFFFF;
    padding:0px;
    margin-left: 760px;
}
.section{
    display: flex;
    top: 72px;
    left: 514px;
    width: 926px;
    height: 98px;
    background: #F4F9FF 0% 0% no-repeat padding-box;
}
.Title{
    margin-right: 30px;
    top: 91px;
    left: 557px;
    width: 206px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open ;
    font-family: sans-serif;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.Tval{
    margin-top: 15px;
    top: 126px;
    left: 559px;
    width: 206px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open;
    font-family: sans-serif;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.track{
    margin-top: -20px;
    height: 100px;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(168, 168, 168);
    text-align: left;
    font: normal normal 600 16px/22px Open ;
    font-family: sans-serif;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.track p{
    text-align: center;
    padding-top: 20px;
}
.orderDetail{
    background-color: #FFFFFF;
    margin-top: -20px;
    border-bottom: 2px solid rgb(168, 168, 168);
    height: 400px;
}
.display_add{
    margin-top: -15px;
    background-color: #FFFFFF;
    height: 330px;
}
.display_add p{
    margin-left: 20px;
    top: 656px;
    left: 549px;
    width: 57px;
    height: 19px;
    text-align: left;
    font: normal normal 600 14px/19px Open;
    font-family: sans-serif;
    letter-spacing: 0.42px;
    color: #3B3737;
    opacity: 1;
}
.address-block{
    margin-left: 20px;
    top: 700px;
    left: 549px;
    width: 236px;
    height: 85px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
}
.foot{
    background-color: rgb(226, 226, 226);
    height: 70px;
    color:rgb(226, 226, 226) ;
}
.footbtn{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background-color: red;
    color: #FFFFFF;
    padding: 10px;
    font-family: sans-serif;
}